# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

**Objectives:**
- Python
- R
- SQL
- Julia

Some of the commonly used libraries used by Data Scientists include:
- numpy
- pandas
- matplotlib

| Data Science Tools |
| :--- |
| JupyterLb |
| JupyterNotebook |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hour = 60
housrs = minutes / hour
print(hours)

3.3333333333333335

## Author
M.Ichikawa